@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,600&display=swap');


:root {
    --Primary-strong-cyan : hsl(171, 66%, 44%);
    --Primary-Light-Blue: hsl(233, 100%, 69%);

    --Neutral-Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Neutral-Grayish-Blue: hsl(201, 11%, 66%);
}

body {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    background: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
}

.clipboard-ios .download-button button {
    border-radius: 15px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    border-style: none;
    font-family:'Bai Jamjuree', sans-serif;
    /* box-shadow: 10px 10px 0px -7px rgba(76,84,93,0.61); */
}

.company {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.history {
    padding-bottom: 4rem;
}

.history .download-button button {
    border-radius: 15px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    border-style: none;
    font-family:'Bai Jamjuree', sans-serif;
    /* box-shadow: 10px 10px 0px -7px rgba(76,84,93,0.61); */
}

.history .download-button .for-ios , .clipboard-ios .download-button .for-ios {
    background: var(--Primary-strong-cyan);
    margin-bottom: 0.75rem;
}

.history .download-button .for-mac , .clipboard-ios .download-button .for-mac {
    background: var(--Primary-Light-Blue);
}



footer {
    display: flex;
    flex-direction: column;
    background: var(--Neutral-Grayish-Blue);
    justify-content: center;
    align-items: center;;
}

footer .social-media {
    display: flex;
    gap: 2.2rem;
}

@media (min-width: 768px) {

}

@media (min-width: 768px) {

}
